button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
        background-color: #c82333;
    }
}