.container {
    max-width: 800px;
    margin: 0 auto;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .col-md-12 {
        margin-bottom: 20px;
    }

button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;

    &:hover {
        background-color: #c82333;
    }
}

    #results {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}