<div class="title">
  <h1 class="silk-screen-font">PANOPTIKON</h1>
  <div class="logo-container">
    <img src="./assets/images/Logo.png" alt="Panoptikon Logo" class="panoptikon-logo">
  </div>
</div>

<div class="field">
  <label class="label">Adresse email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="email" placeholder="Adresse email" [(ngModel)]="newUser.email">
    <span class="icon is-medium is-left">
      <i class="fas fa-envelope fa-lg"></i>
    </span>
    <span class="icon is-medium is-right" *ngIf="newUser.email && emailPattern.test(newUser.email)">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
  <p class="help is-danger" *ngIf="newUser.email && !emailPattern.test(newUser.email)">
    L'adresse email est invalide.
  </p>
</div>
<div class="field">
  <label class="label">Nom d'utilisateur</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="userName" placeholder="Nom d'utilisateur" [(ngModel)]="newUser.username">
    <span class="icon is-medium is-left">
      <i class="fas fa-user fa-lg"></i>
    </span>
    <span class="icon is-medium is-right" *ngIf="newUser.username && newUser.username.length >= 10">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
  <p class="help is-danger" *ngIf="newUser.username && newUser.username.length < 10">
    Le nom d'utilisateur doit contenir au moins 10 caractères.
  </p>
</div>
<div class="field">
  <label class="label">Mot de passe</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="password" placeholder="Mot de passe" [(ngModel)]="newUser.password">
    <span class="icon is-medium is-left">
      <i class="fas fa-lock fa-lg"></i>
    </span>
    <span class="icon is-medium is-right" *ngIf="newUser.password && passwordPattern.test(newUser.password)">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
  <p class="help is-danger" *ngIf="newUser.password && !passwordPattern.test(newUser.password)">
    Le mot de passe doit contenir au moins 8 caractères, dont une lettre majuscule, une lettre minuscule, un chiffre et
    un caractère spécial (!@#$%^&*).
  </p>
</div>
<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="acceptedTerms">
      J'accepte les termes et conditions d'utilisation
    </label>
  </div>
  <p class="help is-danger" *ngIf="!acceptedTerms">
    Vous devez accepter les termes et conditions d'utilisation pour continuer.
  </p>
</div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="onSubmit()">Soumettre</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Annuler</button>
  </div>
</div>

<div class="already-registered">
  Vous possédez déjà un compte ?
  <a routerLink="/authentication">Connectez-vous</a>
</div>