<div class="title">
  <h1 class="silk-screen-font">PANOPTIKON</h1>
  <div class="logo-container">
    <img src="./assets/images/Logo.png" alt="Panoptikon Logo" class="panoptikon-logo">
  </div>
</div>

<h1>S'inscrire</h1>

<div class="field">
  <label class="label">Nom d'utilisateur</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="userName" placeholder="Nom d'utilisateur">
    <span class="icon is-medium is-left">
      <i class="fas fa-user fa-lg"></i>
    </span>
    <span class="icon is-medium is-right">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Mot de passe</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="password" placeholder="Mot de passe">
    <span class="icon is-medium is-left">
      <i class="fas fa-lock fa-lg"></i>
    </span>
    <span class="icon is-medium is-right">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      J'accepte les termes et conditions d'utilisations
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Soumettre</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Annuler</button>
  </div>
</div>