<div class="field">
  <label class="label">Adresse email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="email" placeholder="Adresse email" [(ngModel)]="newUser.email">
    <span class="icon is-medium is-left">
      <i class="fas fa-envelope fa-lg"></i>
    </span>
    <span class="icon is-medium is-right">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Nom d'utilisateur</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="userName" placeholder="Nom d'utilisateur" [(ngModel)]="newUser.username">
    <span class="icon is-medium is-left">
      <i class="fas fa-user fa-lg"></i>
    </span>
    <span class="icon is-medium is-right">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Mot de passe</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-large" type="password" placeholder="Mot de passe" [(ngModel)]="newUser.password">
    <span class="icon is-medium is-left">
      <i class="fas fa-lock fa-lg"></i>
    </span>
    <span class="icon is-medium is-right">
      <i class="fas fa-check fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="acceptedTerms">
      J'accepte les termes et conditions d'utilisations
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="onSubmit()">Soumettre</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Annuler</button>
  </div>
</div>
