<ng-template #footerTemplate>
    <div class="has-background-dark">
        <footer id="footer" class="has-background-dark text-center text-lg-start">
            <nav id="header" class="navbar is-dark text-center p-3" role="navigation" aria-label="main navigation">
                <!-- Copyright -->
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{leftButton}}
                        </div>
                    </div>
                    <div class="title text-center">
                    </div>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{rightButton}}
                        </div>
                    </div>
                </div>
            </nav>
        </footer>
    </div>
</ng-template>