<header>
  <!-- Navbar -->
  <nav id="header" class="navbar is-dark text-center p-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-outlined is-white is-focused is-hovered has-text-black my-1 mx-2 p-1">
            Rechercher
          </a>
        </div>
      </div>
      <div class="title text-center">
        <p id="logo" class="my-1 mx-1 p-1">PANOPTIKON</p>
      </div>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-outlined is-danger is-focused is-hovered has-text-white my-1 mx-2 p-1">
            S'inscrire
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>