<ng-template #headerTemplate>
  <header>
    <nav id="header" class="navbar is-dark text-center p-3" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <div class="buttons">
            ${this.leftButtonTemplate}
          </div>
          <div id="logo" class="title has-text-centered">
            <p class="my-1 mx-1 p-1">PANOPTIKON</p>
          </div>
        </div>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            ${this.rightButtonTemplate}
          </div>
        </div>
      </div>
    </nav>
  </header>
</ng-template>