<div id="logo" class="title has-text-centered">
  <p class="my-1 mx-1 p-1">PANOPTIKON</p>
</div>

<h1>Se connecter</h1>

<div class="field">
  <label class="label">Nom d'utilisateur</label>
  <div class="control has-icons-left">
    <input class="input is-large" type="userName" placeholder="Nom d'utilisateur">
    <span class="icon is-medium is-left">
      <i class="fas fa-user fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Mot de passe</label>
  <div class="control has-icons-left">
    <input class="input is-large" type="password" placeholder="Mot de passe">
    <span class="icon is-medium is-left">
      <i class="fas fa-lock fa-lg"></i>
    </span>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      Se souvenir de moi
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" routerLink="/main-menu">Se connecter</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Annuler</button>
  </div>
</div>