<div class="content" role="main">
  <div class="card">
    <div class="card-header">
      <h2>Ajouter un utilisateur</h2>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="input-name">Nom d'utilisateur: </label>
          <input type="text" class="form-control" id="input-name" name="name" required>
        </div>
        <div class="form-group">
          <label for="input-email">Adresse email: </label>
          <input type="email" class="form-control" id="input-email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Résultats de recherche</h2>
    </div>
    <div class="card-body">
      <input type="text" class="form-control" id="search-text" aria-describedby="search-text" placeholder="Rechercher un utilisateur" autofocus>
      <div class="search-results"></div>
    </div>
  </div>
</div>

