<div>
  <h4>Register</h4>
  <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
              <label>Prénom</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">Le prénom est requis !</div>
              </div>
          </div>
          <div>
              <label>Nom</label>
              <input type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors">
                  <div *ngIf="f.lastName.errors.required">Le nom est requis</div>
              </div>
          </div>
          <div class="mb-3">
              <label>Nom d'utilisateur</label>
              <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Le nom d'utilisateur est requis</div>
              </div>
          </div>
          <div>
              <label>Mot de passe</label>
              <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required">Le mot de passe est requis !</div>
                  <div *ngIf="f.password.errors.minlength">Le mot de passe doit comporter au moins 6 caractères !</div>
              </div>
          </div>
          <div>
              <button [disabled]="loading">
                  <span *ngIf="loading"></span>
                  S'enregistrer
              </button>
              <a routerLink="../login">Annuler</a>
          </div>
      </form>
  </div>
</div>