.content {
  .card {
    .card-header {
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }

    .card-body {
      input[type="file"] {
        margin-bottom: 1rem;
      }

      #record-video-button {
        margin-bottom: 1rem;
      }

      #recorded-video {
        display: none;
      }

      #webcam-window {
        margin-top: 1rem;

        #video-preview {
          width: 100%;
        }

        #webcam-controls {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;

          #record-timer {
            flex: 1;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
          }

          button[type="button"] {
            border-radius: 0.25rem;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5rem 1rem;

            &:focus {
              outline: none;
            }

            &.btn-primary {
              background-color: #007bff;
              border-color: #007bff;
              color: #fff;

              &:hover {
                background-color: #0069d9;
                border-color: #0062cc;
                color: #fff;
              }
            }

            &.btn-success {
              background-color: #28a745;
              border-color: #28a745;

              &:hover {
                background-color: #218838;
                border-color: #1e7e34;
              }
            }

            &.btn-danger {
              background-color: #dc3545;
              border-color: #dc3545;

              &:hover {
                background-color: #c82333;
                border-color: #bd2130;
              }
            }
          }

          #recording-message {
            flex: 1;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
          }

          img {
            margin-left: 0.5rem;
            height: 24px;
          }
        }
      }
    }
  }
}