      <div class="content" role="main">
        <div class="card">
          <div class="card-header">
            <h2>Publier une vidéo</h2>
          </div>
          <div class="card-body">
            <input type="file" accept=".mp4">
            <div class="form-group">
              <video class="video" #video autoplay controls></video>
        <span class="m-1"></span>
        <video class="video" style="width: 360px !important;" controls #recordedVideo></video>
        <br>
        <button class="btn btn-primary btn-lg" id="record-video-button" *ngIf="!isRecording" (click)="startRecording()"><span id="record-timer">{{ remainingTime }}</span>Enregistrer</button>
        <button class="btn btn-warning btn-lg" *ngIf="isRecording" (click)="stopRecording()"><span id="record-timer">{{ remainingTime }}</span>Arrêter l'enregistrement</button>
                <div id="webcam-controls">
                  <div class="d-flex justify-content-center align-items-center mt-3">
                    <div class="spinner-border text-primary" *ngIf="isRecording"></div>
                    <div id="recording-message" *ngIf="!isRecording"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>