<ng-template #footerTemplate>
    <footer>
      <nav id="footer" class="navbar is-dark text-center p-3" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
          <div class="navbar-item">
            <div class="buttons">
              <button class="button is-{{ leftButton.color }}" [routerLink]="[leftButton.route]">
                <i class="{{ leftButton.icon }}"></i>
                {{ leftButton.label }}
              </button>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button class="button is-{{ rightButton.color }}" [routerLink]="[rightButton.route]">
                <i class="{{ rightButton.icon }}"></i>
                {{ rightButton.label }}
              </button>
            </div>
          </div>
        </div>
      </nav>
    </footer>
  </ng-template>