<div id="instructions">
	<video id="my_video_1" class="video-js vjs-default-skin" width="1080px" height="1920px" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
		<source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
	</video>
</div>
<button (click)="playPause()">Lecture/Pause</button>
<button (click)="makeBig()">Grand</button>
<button (click)="makeSmall()">Petit</button>
<button (click)="makeNormal()">Normal</button>
<button (click)="restart();">Relire</button>
<button (click)="skip(-10)">Rembobinner</button>
<button (click)="skip(10)">Avancer</button>
