<div class="container mt-4">
    <div class="row">
      <div class="col-lg-9">
        <h2>Vos Abonnements</h2>
        <hr>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://via.placeholder.com/300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Titre de la vidéo</a>
                </h4>
                <p class="card-text">Description de la vidéo</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://via.placeholder.com/300" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Titre de la vidéo</a>
                </h4>
                <p class="card-text">Description de la vidéo</p>
              </div>
            </div>
          </div>
        </div>
      </div>