<app-header></app-header>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-9">
      <h2>Ensemble des vidéos</h2>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let video of videos">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ video.thumbnail }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ video.title }}</a>
              </h4>
              <p class="card-text">{{ video.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>