<div id="logo" class="title has-text-centered">
    <p class="my-1 mx-1 p-1">PANOPTIKON</p>
  </div>

<h1>Se connecter</h1>
  
  <div class="field">
    <label class="label">Adresse Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-large" type="email" placeholder="Adresse Email">
      <span class="icon is-medium is-left">
        <i class="fas fa-envelope fa-lg has-text-link"></i>
      </span>
      <span class="icon is-medium is-right">
        <i class="fas fa-check fa-lg"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Mot de passe</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-large" type="password" placeholder="Mot de passe">
      <span class="icon is-medium is-left">
        <i class="fas fa-lock fa-lg"></i>
      </span>
      <span class="icon is-medium is-right">
        <i class="fas fa-check fa-lg"></i>
      </span>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <button class="button is-link">Soumettre</button>
    </div>
  </div>
